<!DOCTYPE html>
<html>
<head>
  <title>ExtJS + Rails + Devise </title>

    
  <%= stylesheet_link_tag 'http://cdn.sencha.io/ext-4.1.0-gpl/resources/css/ext-all.css'       %>
  <%= javascript_include_tag 'http://cdn.sencha.io/ext-4.1.0-gpl/ext-all.js',
     "application" %>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
